/*******************************/
/*Navbar settings*/
/*******************************/

.navbar{
  border-bottom: solid 1px black;
}

.navbar-container{
  padding-right: 5%;
  padding-left: 5%
}

/*******************************/
/*Global content frame settings*/
/*******************************/

.content-frame {
  height: calc(100vh - 67px) !important;
}

.title-background{
  background-image: url(./images/homepage.jpg);
  background-position: center;
}

.content-frame-title{
  margin: auto;
  text-align: center;
}

.content-frame-title > h1{
  font-size: 7rem;
  font-weight: bold;
}

.left-img-frame{
  border-right: solid 1px black;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.right-img-frame{
  border-left: solid 1px black;
  border-top: solid 1px black;
  border-bottom: solid 1px black;

}

.right-text-frame{
  border-top: solid 1px black;
}

.agence-background{
  background-image: url(./images/agence.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.website-background{
  background-image: url(./images/website.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.formation-background{
  background-image: url(./images/formation.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/*******************************/
/*Inside content frame settings*/
/*******************************/

.row-button{
  border-top: solid 1px black;
  height: 30%;
  text-align: center;
}

.mid-button{
  border-left: solid 1px black;
  border-right: solid 1px black;
}

.last-row-button{
  border-bottom: solid 1px black;
  border-top: solid 1px black;
  height: 30%;
  text-align: center;
}

.row-button-content{
  height: 100%;
  background-color: #695E4A
}

.col-button-content{
  margin: auto;
}

.button-text{
  color: #DAD3CD;
  font-weight: bold;

}

.row-upper-content{
  height: 70%;
}

.col-upper-content{
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
}

.title-section{
  text-align: center;
  align-items: center;
}

.sub-title-section{
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.content-section{
  padding-right: 8%;
  padding-left: 8%;
  text-align: center;
}

.read-more-section{
  height: 10%;
  text-align: center;
  align-items: center;
}

h2{
  color: #ED3125;
  font-weight: bold;
  font-size: 3.5rem;
}

h3{
  color : #000000;
  font-weight: bold;
  font-size: 2rem;
}

.content-frame-button{
  background-color: #DAD3CD;
  border-color: #DAD3CD;
  color: #ED3125;
  font-weight: bold;
  width: 35%;
  height: 30%;
  border-radius: 30px;

}

.content-frame-button:hover{
  background-color: #ED3125;
  border-color: #ED3125;
  color: #DAD3CD;
}

/*******************************/
/*Form settings*/
/*******************************/

.form-col{
  padding-left: 20%;
  padding-right: 20%;

}

.test{
  box-shadow: 0px 0px 10px grey;
  padding: 2%;
  border-radius: 20px;
}

/*******************************/
/*Footer settings*/
/*******************************/

.form-container{
  border-bottom: 1px solid black;
}

.footer{
  padding-top: 2%;
  text-align: center;
}

.row-form-title{
  padding-top: 5%;
  padding-bottom: 5%;
}

.row-form-content{
  padding-top: 1%;
  padding-bottom: 1%;
}

.row-form-button{
  padding-top: 2%;
  padding-bottom: 2%;
}
